@charset "UTF-8";

.c-card {
  width: 100%;
}

.c-card__post {
  width: 100%;
  display: flex;
  border-top: 1px solid $text-color2;
  &__image {
    width: 10%;
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
  &__content {
    width: 90%;
    margin-left: 1.6rem;
    .c-heading__title {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__meta {
    font-size: 0.9rem;
    color: $text-color2;
  }
}

@include sp {
  .c-card__post {
    &__image {
      width: 20%;
    }
    &__content {
      width: 80%;
      margin-left: getVwFromPx(32);
    }
    &__meta {
      font-size: getVwFromPx(18);
    }
  }
}
